[Unit]
Description=Kraymini Xray Manager
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/kraymini run -c /etc/kraymini/config.toml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
KillMode=process

[Install]
WantedBy=multi-user.target
